body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Smythe', cursive;
} 

h1, h3, h4, h5, h6, p {
    margin: 0px;
    padding: 0px;
    font-weight: 400;
}

h1,  h3 {
    margin-top: 3px;
}

#banner {
    background-image: url('./assets/BannerBG.jpg');
    background-position: center;
    background-size: cover;
    padding: 45px;
    color: white;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
    padding: 40px 0; 
    width: 504px;
}

.menu-item img {
    width: 60px;
}

.menu-item div {
    margin: 0 auto 0 20px;
}

.menu-item h4 {font-size: 23px; margin-bottom: -6px}
.menu-item h5 {font-size: 15px;}
.menu-item p {
    font-size: 15px;
    margin: 10px 0;
    color: #8B8B8B;
}

.menu-item button {
    border-radius: 50%;
    border: 1.5px solid #DEDEDE;
    background-color: white;
    padding: 10px;
    aspect-ratio: 1/1;
    line-height: 0px;
    font-family: initial;
}

#order {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}
#order > * { width: 504px; }
#order p { cursor: pointer; }
#order h4, #order h5 { text-align: center; font-size: 23px; }
#order h4 { margin-right: 5px; }
#order h6 { font-size: 17px; margin-right: 5px; }
#order p { color: #BBBBBB; }

.order-item {
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.order-item p { margin: 0 auto 0 0; }

#total-price {
    margin: 15px 0;
    border-top: 2px solid #393333;
    padding-top: 10px;
}

#order button, #payment button {
    background: #16DB99;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    font-family: 'Verdana';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    padding: 18px 0;
    margin: 20px 0;
}

#payment{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    margin: auto;
    width: 524px;
    aspect-ratio: 1/1;
    
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Verdana';
    border-radius: 4px;
    filter: drop-shadow(0px 0px 50px #000);
    display: none;
}

#payment input {
    border: 1.29664px solid #757575;
    border-radius: 3.88991px;
    width: 476px;
    height: 55px;
    padding-left: 20px;
    box-sizing: border-box; 
}

#payment input:nth-child(4) { margin-bottom: auto; }
#payment input:nth-child(2) { margin-top: auto; }
#payment input:nth-child(3) { margin: auto 0; }

#payment button {
    width: 480px;
    height: 55px;
}

#payment h1{
    margin-top: 40px;
}

#loading-screen{
    display: none;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: fixed;
    background-color: white;
    width: 524px;
    aspect-ratio: 1/1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.loading-screen-one{ display: none; }
.loading-screen-two{ display: none; }